[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dtangle"]
	path = dtangle
	url = https://github.com/cran/dtangle
[submodule "rrscale"]
	path = rrscale
	url = https://github.com/cran/rrscale
